<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultCloudIndexConfiguration>
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="parentname">
                <patch:delete />
              </field>
              <field fieldName="level">
                <patch:delete />
              </field>
              <field fieldName="parenttemplate">
                <patch:delete />
              </field>
              <field fieldName="parentname" returnType="string">Sitecore.Support.XA.Foundation.Search.ComputedFields.ParentName, Sitecore.Support.13290</field>
              <field fieldName="level" returnType="int">Sitecore.Support.XA.Foundation.Search.ComputedFields.Level, Sitecore.Support.13290</field>
              <field fieldName="parenttemplate" returnType="string">Sitecore.Support.XA.Foundation.Search.ComputedFields.ParentTemplate, Sitecore.Support.13290</field>
            </fields>
          </documentOptions>
        </defaultCloudIndexConfiguration>
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider" >
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="parentname">
                <patch:delete />
              </field>
              <field fieldName="level">
                <patch:delete />
              </field>
              <field fieldName="parenttemplate">
                <patch:delete />
              </field>
              <field fieldName="parentname" returnType="string">Sitecore.Support.XA.Foundation.Search.ComputedFields.ParentName, Sitecore.Support.13290</field>
              <field fieldName="level" returnType="int">Sitecore.Support.XA.Foundation.Search.ComputedFields.Level, Sitecore.Support.13290</field>
              <field fieldName="parenttemplate" returnType="string">Sitecore.Support.XA.Foundation.Search.ComputedFields.ParentTemplate, Sitecore.Support.13290</field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>